@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Old+Standard+TT&display=swap');
*{
    margin:0;
    padding:0;
    border:none;
}
body{
    font-family:Metrophobic,sans-serif;
    font-weight:300;
    color:#550668e8;
}
/*heading and logo*/
h1,h2{
    font-family:Old standard TT,sans-serif;
    text-transform:uppercase;
    letter-spacing:2px;
    color:#610579fd;
}
#logo{
    float:left;
    font-size:280%;
}
/*navigation links*/
#menu{
    font-size:110%;
    letter-spacing:2px;
}
#menu, #logo{
    line-height:70px;
}
#menu li{
    float:right;
    list-style-type:none;
    margin-right:20px;
}
#menu a{
    text-decoration:none;
    color:inherit;
}
#menu a:hover{
    border-bottom:1px solid #550668e8;
}
.active{
    border-bottom:1px solid #550668e8;
}
/*Hero image*/
#hero-outer{
    height:600px;
    width:100%;
    overflow:hidden;    
}
#hero-image>img{
    height:600px;
    width:100%;
    background-image:url('assets/images/hero-image.jpg')no-repeat center center;
    /*animates zoom efect on a loading page*/
    animation-name:hero-zoom;
    animation-duration:5s;
    animation-fill-mode: forwards;
}   
      
/*create the level of zoom for hero image*/
@keyframe hero-zoom{
    from{
        transform:scale(1);
        }
    to{
        transform:scale(1.1);
    }
    }