@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Old+Standard+TT&display=swap');
*{
    margin:0;
    padding:0;
    border:none;
}
body{
    font-family:Metrophobic,sans-serif;
    font-weight:300;
    color:#350242d4;
}
/*heading and logo*/
h1,h2{
    font-family:Old standard TT,sans-serif;
    text-transform:uppercase;
    letter-spacing:4px;
    color:#610579fd;
}
#logo{
    float:left;
    font-size:280%;
}