@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Old+Standard+TT&display=swap');
*{
    margin:0;
    padding:0;
    border:none;
}

h1, h2,h3  {
    font-family: 'Old standard TT', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ac1010;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Old standard TT', sans-serif;
}


/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #5c5c5c;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    margin-top: 1rem;
}


/*heading and logo*/
header{
    background-color:#ffffff;
    padding:0 1rem;
    position:fixed;
    z-index:99;
    width:100%;
    box-shadow:0 2px 2px #757171;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    text-decoration:none;
    color:inherit;
}



#logo{
    float:left;
    font-size:170%;
    margin-left:35px;
}
/*navigation links*/
#menu{
    font-size: 110%;
    letter-spacing:2px;
}
#menu, #logo{
    line-height:70px;
}
#menu li{
    float:right;
    list-style-type:none;
    margin-right:20px;
}
#menu a{
    text-decoration:none;
    color:inherit;
}
#menu a:hover{
    border-bottom:1px solid #9b0a00;
}
.active{
    border-bottom:1px solid #a70606f6;
}

/*Hero image*/
#hero-outer{
    height:500px;
    width:100%;
    overflow:hidden; 
    margin-top:70px;
    position:relative;
}
#cover-text, #cover-text h2, #cover-text h3{
color:#ffff;
}
#hero-image img{opacity:1;}
#hero-image{
    height:600px;
    width:100%;
    background-image:url('assets/images/hero-image.jpg')no-repeat center center;
}   
      
    #cover-text{
        font-size:130%;
        font-family:Metrophobic,sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;

        width:400px;
        height:200px;

        padding-top:40px;
        padding-left:30px;   

        background-color:rgb(150, 33, 33) ;

        bottom:30px;
        right:150px;

        position:absolute;
     }
     /*life of wu zetian*/
     #presentation-of-life{
        height:600px;
     }
     #left-about{
        padding-top:30px;
        width:33%;
        float:left;
     }
     #right-about{
        padding-top:30px;
        width:33%;
        float:right;
     }
     #center-about{
        width:33%;
        margin:0 auto;
     }
     hr{
        border-top:solid 2px #3a3a33;
        width: 100%;
        margin:6px 0;
     }
     .left-about-heading{
        width:40%;
        float:right;
        line-height:20px;
        clear:both;
        margin-bottom:30px;
     }
     .right-about-heading{
        width:40%;
        float:left;
        line-height:20px;
        clear:both;
        margin-bottom:30px;
     }
     .right-about-heading h2{
        text-align:right;
     }
     .right-about-heading p{
        text-align:right;
     }
    
     #welcome{
        text-align:center;
        margin:20px;
        font-size:260%;
     }
     #circle-container{
        width:300px;
        height:300px;
        padding:30px;
        border-style: solid;
        border-color:#8d8787;
        border-width:1px;
        border-radius:50%;
        margin:0 auto;
     }
     #circle-cover-bg{
        background:url('assets/images/court-life.jpg') no-repeat center center;
        height:100%;
        border-radius:50%;
        margin:0 auto;   
     }

     .circle-image img {
        width: 100%;
        height: 100%;
        border-radius:50%;
        object-fit:cover;
      }
   /*achievements*/
    #achievements > img{
    background-image:url('../images/achievements1.jpg .jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width:100%;
    overflow:hidden;
}
h3{
    color:#ffffff}
.overlay-text {
    background-color:rgba(193, 193, 193, 0.829);
    width: 20%;
    height:300px;
    float: left;
    padding:30px 0 0 10px;
    text-align: center;
    border:2px solid white;
    box-sizing: border-box;
}
/*footer*/
footer{
    height:150px;
}
.social-networks{
    text-align:center;
}
.social-networks >li{
    display: inline;
}
.social-networks  i{
    font-size:160%;
    margin:1%;
    padding:5%;
    color:#615e5e;
}
/*Legacy(photos)*/
#photos{
clear:both;
line-height: 0%;
column-count:4;
column-gap: 0;
}
#photos > img{
    width:100%;
}

/*media query*/
/*for larger to medium screen sizes from 1200px wide and down*/
@media screen and (max-width:1200px) {
    #Presentation-of-life{
        width:65%;
        height:1200px;
        margin:0 auto;
    }
    #welcome{
        padding:30px 0;
        margin:0;
    }
    #left-about, #right-about{
        width: 100%;
        float:left;
        padding:0;
    }
    #center-about{
        clear:both;
        width:100%;
        float:left;
        padding:0;
    }
    #achievements > div{
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }
    hr{
        display: none;
    }
}
/*for medium screen sizes from 950px wide and down*/
@media screen and (max-width:950px) {
    #menu{
        clear:left;
        float:left;
        margin-left:30px;
        margin-bottom: 20px;
        line-height: 20px;
    }
    #cover-text{
        left:0;
    }
    #Presentation-of-life{
        width:90%;
        height:1200px;
        margin:0 auto;
}
.left-about-heading,.right-about-heading{
    width: inherit;
}
.left-about-heading h2,.right-about-heading h2{
    width: 100%;
    text-align: center;
}
.left-about-heading p,.right-about-heading p{
    text-align: center;
    padding: 0 20px;
}
#legacy{
    column-count: 3;

}
}
/*for small screen sizes 800px and down*/
@media screen and (max-width:800px) {
    #legacy{
        column-count: 2;
    }
}

.join-button:hover {
    background-color: #fafafa;
    color: #454b1b;
}


/* Form */

#signup-form {
    max-width: 400px;
    position: absolute;
    color: #ffffff;
    background-color: rgba(37, 36, 36, 0.799)
    padding: 30px;
}

#signup {
    background-image: url("../images/forbidden_city_overview_2md.jpg");
    background-size:cover;
    background-position: 100%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    margin-top:200px;
}
div > #forbidden-city{
    opacity: 0.5;
}
#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}


.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}


/* Media query: tablets and larger (800px and down) */
@media screen and (min-width: 800px) {
    #signup {
        background-position: center;
        position: relative;
    }
    * {
        box-sizing: border-box;
      }
    #signup-form {
        max-width: 500px;
        position: absolute;
        left: 10%;
        top: 200px;
    }
    .forbidden-city{
        opacity: 0.5;
       width: auto;
      
    }
    #signup-form>h2 {
        color: #fafafa;
        margin-bottom: 20px;
    }
    .text-input:hover {
        border-color: #bb0e0e;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #383e14;
    }
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #9e9898;
}

/* Media query: large or landscape phones (800px and up) */
@media screen and (min-width: 800px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 150%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #d20909f6;
    }
}